<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>产品中心-远大期货_远大国际期货有限公司</title>
<meta name="keywords" content="远大国际期货，远大国际期货，远大外盘期货，远大国际期货有限公司" />
<meta name="author" content="laomo" />
<meta name="description" content="远大国际期货获香港证监会批准注册为持牌法团(证监会中央编号: BJQ086),从事第2类及第5类受规管活动,即期货合约交易及就期货合约提供意见，提供国际期货交易平台，主要从事商品期货经纪、金融期货经纪业务，24小时热线电话：176-2101-1966。" />
<meta name="applicable-device"content="pc,mobile">
<link href="/static/skin/css/bootstrap.css" rel="stylesheet">
<link href="/static/skin/css/bxslider.css" rel="stylesheet">
<link href="/static/skin/css/style.css" rel="stylesheet">
<script src="/static/skin/js/jquery.min.js"></script>
<script src="/static/skin/js/bxslider.min.js"></script>
<script src="/static/skin/js/common.js"></script>
<script src="/static/skin/js/bootstrap.js"></script>
<!--[if lt IE 9]>
	  <script src="/skin/js/html5shiv.min.js"></script>
	  <script src="/skin/js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
<header> <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-md-9"> <a href="/view/"><img src="/static/skin/images/logo.png" class="logo" alt="远大期货" title="远大期货"/></a> </div>
    <div class="col-xs-12 col-sm-3 col-md-3 tel_box">
      <div class="top_tel"><img src="/static/skin/images/tel.jpg" alt="远大期货_远大国际期货有限公司"></div>
      <div class="top_number"> <span>全国客服热线：</span>
        <p>176-2101-1966</p>
      </div>
    </div>
  </div>
</div>

<!-- Fixed navbar -->
<nav id="top_nav" class="navbar navbar-default navbar-static-top">
  <div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">导航菜单</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
    <a class="navbar-brand" href="#">导航菜单</a> </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li ><a href="/view/">网站首页</a> </li>
      <li class='dropdown '> <a href="/view/a/gongsijianjie/">关于远大</a> <a href="/view/a/gongsijianjie/" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
        <ul role="menu" class="dropdown-menu nav_small">
          
          
          <li><a href="/view/about/">公司简介</a></li>
          
          <li><a href="/view/honor/">远大牌照</a></li>
          
          <li><a href="/view/a/gongsijianjie/contact/">联系远大</a></li>
          
        </ul>
      </li><li class='dropdown active'> <a href="/view/a/chanpinzhongxin/">产品中心</a> <a href="/view/a/chanpinzhongxin/" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
        <ul role="menu" style="display:none">
          
          
        </ul>
      </li><li class='dropdown '> <a href="/view/a/xinwenzhongxin/">资讯中心</a> <a href="/view/a/xinwenzhongxin/" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
        <ul role="menu" class="dropdown-menu nav_small">
          
          
          <li><a href="/view/a/xingyexinwen/">行业新闻</a></li>
          
          <li><a href="/view/a/kejichuangxin/">财经新闻</a></li>
          
        </ul>
      </li><li class='dropdown '> <a href="/view/a/kehuanli/">招商加盟</a> <a href="/view/a/kehuanli/" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
        <ul role="menu" class="dropdown-menu nav_small">
          
          
          <li><a href="/view/a/zuixinanli/">加盟政策</a></li>
          
          <li><a href="/view/a/jingdiananli/">加盟优势</a></li>
          
          <li><a href="/view/a/kehuanli/qiyejiameng/">公司加盟</a></li>
          
          <li><a href="/view/a/kehuanli/geren_touzizhejiameng/">个人/投资者加盟</a></li>
          
        </ul>
      </li><li class='dropdown '> <a href="/view/disclaimer/">免责声明</a> <a href="/view/disclaimer/" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
        <ul role="menu" style="display:none">
          
          
        </ul>
      </li><li class='dropdown '> <a href="/view/a/lianxiwomen/">联系我们</a> <a href="/view/a/lianxiwomen/" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
        <ul role="menu" style="display:none">
          
          
        </ul>
      </li>
    </ul>
    
    <!--/.nav-collapse --> 
  </div>
</nav>
 </header>
<div class="page_bg" style="background: url(/static/skin/images/5780c309432c5.jpg) center top no-repeat;"></div>

<!-- main -->
<div class="container">
  <div class="row"> 
    
    <!-- left -->
    <div class="col-xs-12 col-sm-8 col-md-9" style="float:left">
      <div class="list_box">
        <font class="left_h2">产品中心</font>
        <h1 style="line-height:200%;">香港远大期货品种大全</h1>
        <div class="product_list product_list2"> <div class="col-sm-4 col-md-4 col-mm-6 product_img"> <a href=" /view/a/chanpinzhongxin/152.html"> <img  src="/static/uploads/171129/1-1G12915103bQ.jpg" class="img-thumbnail" alt="能源期货"/> </a>
            <p class="product_title"><a href="/view/a/chanpinzhongxin/152.html" title="能源期货">能源期货</a></p>
          </div><div class="col-sm-4 col-md-4 col-mm-6 product_img"> <a href=" /view/a/chanpinzhongxin/153.html"> <img  src="/static/uploads/171129/1-1G12915132K14.jpg" class="img-thumbnail" alt="外汇期货"/> </a>
            <p class="product_title"><a href="/view/a/chanpinzhongxin/153.html" title="外汇期货">外汇期货</a></p>
          </div><div class="col-sm-4 col-md-4 col-mm-6 product_img"> <a href=" /view/a/chanpinzhongxin/151.html"> <img  src="/static/uploads/allimg/171129/1-1G1291201040-L.jpg" class="img-thumbnail" alt="贵金属期货"/> </a>
            <p class="product_title"><a href="/view/a/chanpinzhongxin/151.html" title="贵金属期货">贵金属期货</a></p>
          </div><div class="col-sm-4 col-md-4 col-mm-6 product_img"> <a href=" /view/a/chanpinzhongxin/150.html"> <img  src="/static/uploads/allimg/171129/1-1G129115U60-L.jpg" class="img-thumbnail" alt="基本金属期货"/> </a>
            <p class="product_title"><a href="/view/a/chanpinzhongxin/150.html" title="基本金属期货">基本金属期货</a></p>
          </div><div class="col-sm-4 col-md-4 col-mm-6 product_img"> <a href=" /view/a/chanpinzhongxin/149.html"> <img  src="/static/uploads/171129/1-1G1291151203C.jpg" class="img-thumbnail" alt="利率期货"/> </a>
            <p class="product_title"><a href="/view/a/chanpinzhongxin/149.html" title="利率期货">利率期货</a></p>
          </div> </div>
        <div class="page"> <span class="pageinfo">共 <strong>1</strong>页<strong>5</strong>条记录</span>
 </div>
      </div>
    </div>
    
    <!-- right -->
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="index_contact"> <font class="left_h2">联系我们</font>
        <p>电 话：176-2101-1966</p>
        <p>公 司：远大国际期货有限公司</p>
        <p>地 址：香港上环德辅道中244-248 号东协商业大厦5楼502室</p>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="copyright">
    <p>Copyright &copy; 2002-2027  远大国际期货有限公司 版权所有</p>
    <p class="copyright_p">地址：香港上环德辅道中244-248 号东协商业大厦5楼502室  电话：176-2101-1966 </p>
    <p style="color:#1f1f1f;">远大期货,远大期货开户,远大期货招商,香港远大外盘期货,香港远大国际期货官网,远大国际期货有限公司</p>
  </div>
</footer>
<!-- WPA start -->
<script id="qd285215368155648fd2d6abc35519c2b5f0bdd8367e" src="https://wp.qiye.qq.com/qidian/2852153681/55648fd2d6abc35519c2b5f0bdd8367e" charset="utf-8" async defer></script>
<!-- WPA end -->
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
 
<!--客服面板-->
</body>
</html>