<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>精准反制 中国对美约750亿美元商品加关税，昨夜美股闪崩600点、黄金大涨 商品市场也要“看脸色”</title>
<meta name="keywords" content="美股闪崩,中美贸易，中国反击" />
<meta name="description" content="远大期货 官网消息，精准反制 中国对美约750亿美元商品加关税，昨夜美股闪崩600点、黄金大涨 商品市场也要“看脸色" />
<meta name="applicable-device"content="pc,mobile">
<link href="/static/css/bootstrap.css" rel="stylesheet">
<link href="/static/css/bxslider.css" rel="stylesheet">
<link href="/static/css/style.css" rel="stylesheet">
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bxslider.min.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/js/bootstrap.js"></script>
<!--[if lt IE 9]>
	  <script src="/static/js/html5shiv.min.js"></script>
	  <script src="/static/js/respond.min.js"></script>
	<![endif]-->
<body>
<header> <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-md-9"> <a href="/"><img src="/static/images/logo.png" class="logo" alt="远大期货" title="远大期货"/></a> </div>
    <div class="col-xs-12 col-sm-3 col-md-3 tel_box">
      <!-- <div class="top_tel"><img src="/static/images/tel.jpg" alt="远大期货_远大国际期货有限公司"></div>
      <div class="top_number"> <span>全国客服热线：</span>
        <p>176-2101-1966</p>
      </div> -->
    </div>
  </div>
</div>

<!-- Fixed navbar -->
<nav id="top_nav" class="navbar navbar-default navbar-static-top">
    <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">导航菜单</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="/views/index.html">导航菜单</a> </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li  class='active' ><a href="/views/index.html">网站首页</a> </li>
        <li class='dropdown '> <a href="/views/a/gongsijianjie/index.html">关于远大</a> <a href="/views/a/gongsijianjie/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" class="dropdown-menu nav_small">
            
            
            <li><a href="/views/about/index.html">公司简介</a></li>
            
            <li><a href="/views/honor/index.html">远大牌照</a></li>
            
            <li><a href="/views/a/gongsijianjie/contact/index.html">联系远大</a></li>
            
          </ul>
        </li><li class='dropdown '> <a href="/views/a/chanpinzhongxin/index.html">产品中心</a> <a href="/views/a/chanpinzhongxin/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" style="display:none">
            
            
          </ul>
        </li><li class='dropdown '> <a href="/views/a/xingyexinwen/index.html">资讯中心</a> <a href="/views/a/xingyexinwen/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" class="dropdown-menu nav_small">
            
            
            <li><a href="/views/a/xingyexinwen/index.html">行业新闻</a></li>
            
            <li><a href="/views/a/kejichuangxin/index.html">财经新闻</a></li>
            
          </ul>
        </li><li class='dropdown '> <a href="/views/a/kehuanli/">招商加盟</a> <a href="/views/a/kehuanli/" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" class="dropdown-menu nav_small">
            
            
            <li><a href="/views/a/zuixinanli/index.html">加盟政策</a></li>
            
            <li><a href="/views/a/jingdiananli/">加盟优势</a></li>
            
            <li><a href="/views/a/kehuanli/qiyejiameng/">公司加盟</a></li>
            
            <li><a href="/views/a/kehuanli/geren_touzizhejiameng/">个人/投资者加盟</a></li>
            
          </ul>
        </li><li class='dropdown '> <a href="/views/disclaimer/index.html">免责声明</a> <a href="/views/disclaimer/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" style="display:none">
            
            
          </ul>
        </li><li class='dropdown '> <a href="/views/a/lianxiwomen/index.html">联系我们</a> <a href="/views/a/lianxiwomen/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" style="display:none">
            
            
          </ul>
        </li>
      </ul>
      
      <!--/.nav-collapse --> 
    </div>
  </nav>
 </header>
<div class="page_bg" style="background: url(/static/images/5780c309432c5.jpg) center top no-repeat;"></div>

<!-- main -->
<div class="container">
  <div class="row"> 
    
    <!-- left -->
    <div class="col-xs-12 col-sm-8 col-md-9" style="float:left">
      <div class="list_box">
        <h2 class="left_h2">行业新闻</h2>
        <div class="contents" style="font-size:14px;">
                <h1 class="contents_title">精准反制 中国对美约750亿美元商品加关税，昨夜美股闪崩600点、黄金大涨 商品市场也要“看脸色</h1>
                <p style="line-height:200%;text-align:center;">来源：远大国际期货有限公司 作者：远大期货</p>
                <div>
          　　<strong>远大期货消息：</strong>昨日傍晚，国务院关税税则委员会发布了两项重大公告，这两项重大公告主要是针对美国对自华进口的约3000亿美元商品加征10%关税的反制措施：一是决定对原产于美国的约750亿美元进口商品加征关税。二是决定对原产于美国的汽车及零部件恢复加征关税。至此，已经被市场关注多时的中国要采取的反制措施终于“靴子落地”。
          　　从公告内容等来分析，不同商品加征的关税税率不同，实施的时间也不同，最重要的是国务院关税税则委员会将继续开展对美加征关税商品的排除工作。
          
          　　两项重磅反制措施来了
          </div>
          <div>
              　　第一，国务院关税税则委员会发布公告决定对原产于美国的约750亿美元进口商品加征关税。

          </div>
          <div>
              2019年8月15日，美国政府宣布，对自华进口的约3000亿美元商品加征10%关税，分两批自2019年9月1日、12月15日起实施。美方措施导致中美经贸摩擦持续升级，极大损害中国、美国以及其他各国利益，也严重威胁多边贸易体制和自由贸易原则。
              　　针对美方上述措施，中方被迫采取反制措施。根据《中华人民共和国海关法》《中华人民共和国对外贸易法》《中华人民共和国进出口关税条例》等法律法规和国际法基本原则，经国务院批准，国务院关税税则委员会决定，对原产于美国的5078个税目、约750亿美元商品，加征10%、5%不等关税，分两批自2019年9月1日12时01分、12月15日12时01分起实施。
              
              　　国务院关税税则委员会将继续开展对美加征关税商品排除工作。750亿美元商品清单中，经审核确定的排除商品，按排除办法，不加征我为反制美301措施所加征的关税；未纳入前两批可申请排除范围的商品，将纳入第三批可申请排除的范围，接受申请办法将另行公布。
              
              　　中方采取加征关税措施，是应对美方单边主义、贸易保护主义的被迫之举。中方再次重申，对于中美两国，合作是唯一正确的选择，共赢才能通向更好的未来。希望中美双方以相互尊重、相互平等和言而有信、言行一致为前提，以双方都能接受的方式解决分歧，积极构建平衡、包容、共赢的中美经贸新秩序，共同维护并推动改革完善多边贸易体制，促进与世界上其他国家的互利共赢合作。              
          </div>
        <div>
　　第二，国务院关税税则委员会关于对原产于美国的汽车及零部件恢复加征关税的公告。
</div>
        <div>
            为落实中美两国元首阿根廷会晤共识，2018年12月14日，国务院关税税则委员会发布公告，从2019年1月1日起，对原产于美国的汽车及零部件暂停加征关税3个月。2019年3月31日，国务院关税税则委员会发布公告，从2019年4月1日起，继续对原产于美国的汽车及零部件暂停加征关税，暂停加征关税措施截止时间另行通知。
            　　2019年5月9日，美国政府宣布，自2019年5月10日起，对从中国进口的2000亿美元清单商品加征的关税税率由10%提高到25%。2019年8月15日，美国政府宣布，对从中国进口的约3000亿美元商品加征10%关税，分两批自2019年9月1日、12月15日起实施。美方上述措施导致中美经贸摩擦持续升级，严重违背两国元首阿根廷会晤共识和大阪会晤共识。
            
            　　根据《中华人民共和国海关法》《中华人民共和国对外贸易法》《中华人民共和国进出口关税条例》等法律法规和国际法基本原则，国务院关税税则委员会决定，自2019年12月15日12时01分起，对原产于美国的汽车及零部件恢复加征关税。现将有关事项公告如下：
            
            　　对《国务院关税税则委员会关于对原产于美国的汽车及零部件暂停加征关税的公告》（税委会公告〔2018〕10号）附件1所列28个税目商品，恢复征收《国务院关税税则委员会关于对原产于美国500亿美元进口商品加征关税的公告》（税委会公告〔2018〕5号）所加征25%的关税；对税委会公告〔2018〕10号附件2所列116个税目商品，恢复征收《国务院关税税则委员会关于对原产于美国约160亿美元进口商品加征关税的公告》（税委会公告〔2018〕7号）所加征25%的关税；对税委会公告〔2018〕10号附件3所列67个税目商品恢复征收《国务院关税税则委员会关于对原产于美国约600亿美元进口商品实施加征关税的公告》（税委会公告〔2018〕8号）所加征5%的关税。
        </div>

        </div>
      <div>
         
      
                <p style="text-align:right;"><br><br>————远大国际期货有限公司<br /><br></p>
              </div>
      </div>
      <div class="list_related">
        <h2 class="left_h2">相关新闻</h2>
        <ul class="list_news related_news">
            <li><a href="/views/a/xingyexinwen/874.html" title="中国进口396万吨水果！东南亚多国加大对华出口，越南却例外？">中国进口396万吨水果！东南亚多国加大对华出口，越南却例外？</a><span class="news_time">2019-9-1</span></li>   
            <li><a href="/views/a/xingyexinwen/873.html" title="美国80%天然气无法出口，日本却从中国进口70560吨，意味着什么？">美国80%天然气无法出口，日本却从中国进口70560吨，意味着什么？</a><span class="news_time">2019-8-30</span></li>
            <li><a href="/views/a/xingyexinwen/872.html" title="价值283亿！中国飞机拿下105架飞机订单，波音处境却不乐观？">价值283亿！中国飞机拿下105架飞机订单，波音处境却不乐观？</a><span class="news_time">2019-8-30</span></li>
            <li><a href="/views/a/xingyexinwen/871.html" title="美国8月Markit制造业PMI初值为49.9，为2009年9月以来首次跌至50下方">美国8月Markit制造业PMI初值为49.9，为2009年9月以来首次跌至50下方</a><span class="news_time">2019-8-22</span></li>
            <li><a href="/views/a/xingyexinwen/870.html" title="美宣布将对5500亿美元中国输美商品加税 中方回应">美宣布将对5500亿美元中国输美商品加税 中方回应</a><span class="news_time">2018-8-24</span></li>                
           <li><a href="/views/a/xingyexinwen/868.html" title="矿价一路下行下基本面是否有变？">矿价一路下行下基本面是否有变？</a><span class="news_time">2019-8-24</span></li>
           <li><a href="/views/a/xingyexinwen/867.html" title="你需要了解的隔夜重要市场资讯">你需要了解的隔夜重要市场资讯</a><span class="news_time">2019-8-24</span></li>
             
        </ul>
      </div>
    </div>
    
    <!-- right -->
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="left_nav" id="categories">
        <h2 class="left_h2">资讯中心</h2>
        <ul class="left_nav_ul" id="firstpane">
          
          <li> <a class="biglink" href="/a/xingyexinwen/">行业新闻</a><span class="menu_head"></span> </li>
          
          <li> <a class="biglink" href="/a/kejichuangxin/">财经新闻</a><span class="menu_head"></span> </li>
          
        </ul>
      </div>
      <div class="index_contact"> <h2 class="left_h2">联系我们</h2>
        <!-- <p>电 话：176-2101-1966</p> -->
        <p>公 司：远大国际期货有限公司</p>
        <p>地 址：香港上环德辅道中244-248 号东协商业大厦5楼502室</p>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="copyright">
    <p>Copyright &copy; 2002-2027  远大国际期货有限公司 版权所有</p>
    <p class="copyright_p">地址：香港上环德辅道中244-248 号东协商业大厦5楼502室  </p>

    <!-- <p class="copyright_p">地址：香港上环德辅道中244-248 号东协商业大厦5楼502室  电话：176-2101-1966 </p> -->
    <p style="color:#1f1f1f;">远大期货,远大期货开户,远大期货招商,香港远大外盘期货,香港远大国际期货官网,远大国际期货有限公司</p>
  </div>
</footer>
<!-- WPA start -->
<div style="position:fixed;top:30%;right:5px;z-index: 100">
  <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=744620679&site=qq&menu=yes">
  <img src="/static/images/qqworker.jpg" alt="点击这里给我发消息" title="点击这里给我发消息"/>
</div>
<!-- //中间客服窗口 -->
<div class="wpa-invite theme-2">
  <a href="javascript:void(0);" id="invite_close" data-event="close" class="icon-close">
    <img src="https://bqq.gtimg.com/qidian/src/wpa/dist/4.1.0/images/invite/close_black.png">
  </a>
  <img src="https://p.qpic.cn/qidian_pic/2852199000/201611113d2b411028d4194b97d37ac1349faad3/0" class="avatar" onerror="javascript:parent.__WPA.replaceErrAvatar(this);">
  <div class="main">
    <div class="title">欢迎您来到本网站</div>
    <div class="content">您好，客服在线，点击即可咨询</div>
  </div>
  <div class="btns ">
    <div class="btn" id="qqbtn" data-event="qq" data-corpuin="0">
    <a target="_blank" style="text-decoration:none" href="http://wpa.qq.com/msgrd?v=3&uin=744620679&site=qq&menu=yes">
      <span class="btn-icon icon-qq"></span>
      <span class="btn-text">QQ交谈</span>
    </a>
    
  </div>
</div>
</div><!-- WPA end -->
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
<script>(function(){
var src = (document.location.protocol == "http:") ? "http://js.passport.qihucdn.com/11.0.1.js?0e6890f61c1948e04d32c6176d4a646a":"https://jspassport.ssl.qhimg.com/11.0.1.js?0e6890f61c1948e04d32c6176d4a646a";
document.write('<script src="' + src + '" id="sozz"><\/script>');
})();
</script> 
<!--客服面板-->
</body>
</html>