<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>美联储不敢私吞中国存美国的黄金，中国获得足够多黄金将发生什么</title>
<meta name="keywords" content="中国，美联储，黄金" />
<meta name="description" content="远大期货 官网消息美联储不敢私吞中国存美国的黄金，中国获得足够多黄金将发生什么" />
<meta name="applicable-device"content="pc,mobile">
<link href="/static/css/bootstrap.css" rel="stylesheet">
<link href="/static/css/bxslider.css" rel="stylesheet">
<link href="/static/css/style.css" rel="stylesheet">
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bxslider.min.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/js/bootstrap.js"></script>
<!--[if lt IE 9]>
	  <script src="/static/js/html5shiv.min.js"></script>
	  <script src="/static/js/respond.min.js"></script>
	<![endif]-->
<body>
<header> <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-md-9"> <a href="/"><img src="/static/images/logo.png" class="logo" alt="远大期货" title="远大期货"/></a> </div>
    <div class="col-xs-12 col-sm-3 col-md-3 tel_box">
      <!-- <div class="top_tel"><img src="/static/images/tel.jpg" alt="远大期货_远大国际期货有限公司"></div>
      <div class="top_number"> <span>全国客服热线：</span>
        <p>176-2101-1966</p>
      </div> -->
    </div>
  </div>
</div>

<!-- Fixed navbar -->
<nav id="top_nav" class="navbar navbar-default navbar-static-top">
    <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">导航菜单</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="/views/index.html">导航菜单</a> </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li  class='active' ><a href="/views/index.html">网站首页</a> </li>
        <li class='dropdown '> <a href="/views/a/gongsijianjie/index.html">关于远大</a> <a href="/views/a/gongsijianjie/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" class="dropdown-menu nav_small">
            
            
            <li><a href="/views/about/index.html">公司简介</a></li>
            
            <li><a href="/views/honor/index.html">远大牌照</a></li>
            
            <li><a href="/views/a/gongsijianjie/contact/index.html">联系远大</a></li>
            
          </ul>
        </li><li class='dropdown '> <a href="/views/a/chanpinzhongxin/index.html">产品中心</a> <a href="/views/a/chanpinzhongxin/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" style="display:none">
            
            
          </ul>
        </li>
        <li class='dropdown '> <a href="/views/openUser/index.html">在线开户</a>
        </li>
        <li class='dropdown '> <a href="/views/a/kehuanli/">招商加盟</a> <a href="/views/a/kehuanli/" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" class="dropdown-menu nav_small">
            
            
            <li><a href="/views/a/zuixinanli/index.html">加盟政策</a></li>
            
            <li><a href="/views/a/jingdiananli/">加盟优势</a></li>
            
            <li><a href="/views/a/kehuanli/qiyejiameng/">公司加盟</a></li>
            
            <li><a href="/views/a/kehuanli/geren_touzizhejiameng/">个人/投资者加盟</a></li>
            
          </ul>
        </li>
        <li class='dropdown '> <a href="/views/disclaimer/index.html">免责声明</a> <a href="/views/disclaimer/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" style="display:none">
            
            
          </ul>
        </li><li class='dropdown '> <a href="/views/a/lianxiwomen/index.html">联系我们</a> <a href="/views/a/lianxiwomen/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" style="display:none">
            
            
          </ul>
        </li>
      </ul>
      
      <!--/.nav-collapse --> 
    </div>
  </nav>
 </header>
<div class="page_bg" style="background: url(/static/images/5780c309432c5.jpg) center top no-repeat;"></div>

<!-- main -->
<div class="container">
  <div class="row"> 
    
    <!-- left -->
    <div class="col-xs-12 col-sm-8 col-md-9" style="float:left">
      <div class="list_box">
        <h2 class="left_h2">行业新闻</h2>
        <div class="contents" style="font-size:14px;">
          <h1 class="contents_title">美联储不敢私吞中国存美国的黄金，中国获得足够多黄金将发生什么</h1>
          <p style="line-height:200%;text-align:center;">来源：远大国际期货有限公司 作者：远大期货</p>
          <div>
            　　　<strong>远大期货</strong>官网消息&mdash;&mdash;
            <div>
                今天，美国的负债行为是一种战略性的负债，且美国对这些债权投资者资本的依赖还在不断地增强的现实，使得这种负债使美国在面对它的主要债权人时显得有些脆弱不堪，按中国人民银行前副行长陈元在稍早前的分析就是，这意味着美国经济并非完全没有弱点。
            </div>
            <img src="https://n.sinaimg.cn/sinacn20190903ac/264/w640h424/20190903/0174-ieaiqii7713060.jpg"/>
            <div>
                据美财政部8月17日公布的最新国际资本流动报告（美债持仓数据会有两个月延期），中国从去年6月至2019年6月，也已累计抛售了810亿美元持仓降至两年来最低。此消彼长，据世界黄金协会报告，截止8月，全球央行的黄金净购买量同比增长73%达347吨，且目前这种购买热潮还在继续中，而这背后最大的庄家就是俄罗斯和中国央行。
          </div>
          
            <img src="https://n.sinaimg.cn/sinacn20190903ac/177/w640h337/20190903/08b3-ieaiqii7713065.jpg"/>

            <div>
                6月日本超越中国成最大的海外美债持有者

              </div>
              <div>
                  据国家外管局8月初公布的最新数据，截止7月末，中国连续8个月共计增加92吨至约1936吨，而俄央行也已于7月底突破2208吨大关，更在外储占比中从两年前的2%上升至目前的19%。
                </div>
                <img src="https://n.sinaimg.cn/sinacn20190903ac/173/w640h333/20190903/556a-ieaiqii7713064.jpg"/>
            <div>
                中国所持黄金与美元资产对比趋势
              </div>
              <div>
                对此，美国金融网站Zerohedge分析称，中俄等国打破沉默发出的黄金信号或是对上世纪70年代以来美元时代提前结束的明确信号，资深经济学家Jim Rickards进一步表示，十多年来，国际货币分析师们一直在寻找全球货币重置迹象和趋势，这将削弱美元作为国际主要储备货币的角色。这种结果使得全球央行的外储管理者们也逐步提高了其他货币的配置，而且接下去还将一直是这样。
              </div>
              <div>
                不仅于此，包括德国、波兰、罗马尼亚、意大利、土耳其、荷兰、比利时、瑞士、委内瑞拉、匈牙利、奥地利、法国等12国也正在掀起运回存在美联储或英格兰银行黄金的潮流，但数周前德国却被美联储以意图不明为由拒绝审查黄金请求后，这也再次引发各国对于存在海外黄金的关注。
              </div>
              <img src="https://n.sinaimg.cn/sinacn20190903ac/267/w640h427/20190903/3e16-ieaiqii7713066.jpg"/>

              <div>
                  不过，该外媒称，美联储无权拒绝或阻止包括中俄等国在内的投资者运回黄金，因为，这些黄金的所有权是非常清晰的，这表明，如果长期阻止其他央行的黄金回国，其可能面临严重的后果，即使就算外界猜测一些黄金做以它用，最终也都需要数如奉还，基于种种理由，美联储并不敢"私吞"这些黄金，但事情到此并没有结束。
            </div>
            <img src="https://n.sinaimg.cn/sinacn20190903ac/276/w640h436/20190903/989c-ieaiqii7713070.jpg"/>

            <div>
                事情的最新进展是，俄央行第一副行长谢尔盖·什韦佐夫证实，中俄等金砖五国正在做一件改写世界黄金货币交易的事，建立自己的黄金交易系统，而人民币定价的黄金期权的推出将更进一步提高人民币的影响力，并削弱美元的国际使用份额，可以被看作是摆脱美元交易策略的一部分。              </div>
              <div>
                  对此，OMFIF顾问委员会主席梅赫纳德·德赛分析称，如果中国和俄罗斯等国增加其官方黄金储备，这将更加容易，因为无论是人民币还是卢布，背后都有黄金的身影，而这都有可能真的会促使包括俄中在内的国家尽早发展自己的以黄金为支持的数字货币交易体系，不过，事情到此并没有结束，又有一些新进展。              </div>

              <div>
                  除此外，美国互联网巨头Facebook也在数周前宣布将推出一种基于区块链的数字货币libra，这一数字货币的背书资产是全球主要的法币和政府债券，与此同时，IMF前总裁拉加德也在6月举办的英格兰银行论坛上暗示该组织拟将根据特别提款权机制推出一个类似比特币的全球数字货币IMF Coin，旨在取代现有世界储备货币美元。"私吞"这些黄金，但事情到此并没有结束。
            </div>
            <div>
                事情的最新进展是，英国央行行长马克·卡尼8月23日在美国怀俄明州杰克逊霍尔举行的全球央行年会上批评了美元在全球经济中有“造成不稳定”的作用，并表示主要央行或许需要联合起来创立自家的替代储备货币，比如打造类似Libra那样的加密数字储备货币，以结束美元主导，降低潜在风险，Libra是目前提议中的最受关注的数字货币。          </div>
          <div>
              紧接着，一些分析师指出，在Facebook 6月宣布计划一年内推出数字货币Libra之后，中国也似乎也加快了推动发行数字货币的努力，近日，中国央行有关负责人表示正在进行数字货币系统开发，并对现在全球流通的现金具有一定替代性的全新加密电子货币体系，分析认为，中国是数字货币发展最有潜力的国家，因中国拥有全世界最好的移动联网环境和最大商业生态圈。 Coin，旨在取代现有世界储备货币美元。"私吞"这些黄金，但事情到此并没有结束。
        </div>

          <p style="text-align:right;"><br><br>————远大国际期货有限公司<br /><br></p>
        </div>
      </div>
      <div class="list_related">
        <h2 class="left_h2">相关新闻</h2>
        <ul class="list_news related_news">
            <li><a href="/views/a/xingyexinwen/880.html" title="达里奥:美国经济在今明两年陷入衰退的概率约为25%！">达里奥:美国经济在今明两年陷入衰退的概率约为25%！</a><span class="news_time">2019-9-6</span></li>   
            <li><a href="/views/a/xingyexinwen/879.html" title="千五岌岌可危还是多头翻身大仗？今夜非农定生死">千五岌岌可危还是多头翻身大仗？今夜非农定生死</a><span class="news_time">2019-9-6</span></li>   
            <li><a href="/views/a/xingyexinwen/878.html" title="伦交所推出“环球板” 将支持80只美股、中概股交易">伦交所推出“环球板” 将支持80只美股、中概股交易</a><span class="news_time">2019-9-6</span></li>   
            <li><a href="/views/a/xingyexinwen/877.html" title="美国宣布制裁一个与伊朗石油运输相关的航运网络">美国宣布制裁一个与伊朗石油运输相关的航运网络</a><span class="news_time">2019-9-5</span></li>   
            <li><a href="/views/a/xingyexinwen/876.html" title="美联储不敢私吞中国存美国的黄金，中国获得足够多黄金将发生什么">美联储不敢私吞中国存美国的黄金，中国获得足够多黄金将发生什么</a><span class="news_time">2019-9-5</span></li>   
            <li><a href="/views/a/xingyexinwen/875.html" title="汇金又出手:增持3大产品近30亿 多家保险巨头豪买ETF">汇金又出手:增持3大产品近30亿 多家保险巨头豪买ETF</a><span class="news_time">2019-9-5</span></li>   
            <li><a href="/views/a/xingyexinwen/874.html" title="中国进口396万吨水果！东南亚多国加大对华出口，越南却例外？">中国进口396万吨水果！东南亚多国加大对华出口，越南却例外？</a><span class="news_time">2019-9-1</span></li>   
            <li><a href="/views/a/xingyexinwen/873.html" title="美国80%天然气无法出口，日本却从中国进口70560吨，意味着什么？">美国80%天然气无法出口，日本却从中国进口70560吨，意味着什么？</a><span class="news_time">2019-8-30</span></li>
       </ul>
      </div>
    </div>
    
    <!-- right -->
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="left_nav" id="categories">
        <h2 class="left_h2">资讯中心</h2>
        <ul class="left_nav_ul" id="firstpane">
          
          <li> <a class="biglink" href="/a/xingyexinwen/">行业新闻</a><span class="menu_head"></span> </li>
          
          <li> <a class="biglink" href="/a/kejichuangxin/">财经新闻</a><span class="menu_head"></span> </li>
          
        </ul>
      </div>
      <div class="index_contact"> <h2 class="left_h2">联系我们</h2>
        <!-- <p>电 话：176-2101-1966</p> -->
        <p>公 司：远大国际期货有限公司</p>
        <p>地 址：香港上环德辅道中244-248 号东协商业大厦5楼502室</p>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="copyright">
    <p>Copyright &copy; 2002-2027  远大国际期货有限公司 版权所有</p>
    <p class="copyright_p">地址：香港上环德辅道中244-248 号东协商业大厦5楼502室  </p>

    <!-- <p class="copyright_p">地址：香港上环德辅道中244-248 号东协商业大厦5楼502室  电话：176-2101-1966 </p> -->
    <p style="color:#1f1f1f;">远大期货,远大期货开户,远大期货招商,香港远大外盘期货,香港远大国际期货官网,远大国际期货有限公司</p>
  </div>
</footer>
<!-- WPA start -->
<div style="position:fixed;top:30%;right:5px;z-index: 100">
  <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=744620679&site=qq&menu=yes">
  <img src="/static/images/qqworker.jpg" alt="点击这里给我发消息" title="点击这里给我发消息"/>
</div>
<!-- //中间客服窗口 -->
<div class="wpa-invite theme-2">
  <a href="javascript:void(0);" id="invite_close" data-event="close" class="icon-close">
    <img src="https://bqq.gtimg.com/qidian/src/wpa/dist/4.1.0/images/invite/close_black.png">
  </a>
  <img src="https://p.qpic.cn/qidian_pic/2852199000/201611113d2b411028d4194b97d37ac1349faad3/0" class="avatar" onerror="javascript:parent.__WPA.replaceErrAvatar(this);">
  <div class="main">
    <div class="title">欢迎您来到本网站</div>
    <div class="content">您好，客服在线，点击即可咨询</div>
  </div>
  <div class="btns ">
    <div class="btn" id="qqbtn" data-event="qq" data-corpuin="0">
    <a target="_blank" style="text-decoration:none" href="http://wpa.qq.com/msgrd?v=3&uin=744620679&site=qq&menu=yes">
      <span class="btn-icon icon-qq"></span>
      <span class="btn-text">QQ交谈</span>
    </a>
    
  </div>
</div>
</div><!-- WPA end -->
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
<script>(function(){
var src = (document.location.protocol == "http:") ? "http://js.passport.qihucdn.com/11.0.1.js?0e6890f61c1948e04d32c6176d4a646a":"https://jspassport.ssl.qhimg.com/11.0.1.js?0e6890f61c1948e04d32c6176d4a646a";
document.write('<script src="' + src + '" id="sozz"><\/script>');
})();
</script> 
<!--客服面板-->
</body>
</html>