<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>伦交所推出“环球板” 将支持80只美股、中概股交易</title>
<meta name="keywords" content="伦交所推出“环球板” 将支持80只美股、中概股交易" />
<meta name="description" content="远大期货 官网消息 伦交所推出“环球板” 将支持80只美股、中概股交易" />
<meta name="applicable-device"content="pc,mobile">
<link href="/static/css/bootstrap.css" rel="stylesheet">
<link href="/static/css/bxslider.css" rel="stylesheet">
<link href="/static/css/style.css" rel="stylesheet">
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bxslider.min.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/js/bootstrap.js"></script>
<!--[if lt IE 9]>
	  <script src="/static/js/html5shiv.min.js"></script>
	  <script src="/static/js/respond.min.js"></script>
	<![endif]-->
<body>
<header> <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-md-9"> <a href="/"><img src="/static/images/logo.png" class="logo" alt="远大期货" title="远大期货"/></a> </div>
    <div class="col-xs-12 col-sm-3 col-md-3 tel_box">
      <!-- <div class="top_tel"><img src="/static/images/tel.jpg" alt="远大期货_远大国际期货有限公司"></div>
      <div class="top_number"> <span>全国客服热线：</span>
        <p>176-2101-1966</p>
      </div> -->
    </div>
  </div>
</div>

<!-- Fixed navbar -->
<nav id="top_nav" class="navbar navbar-default navbar-static-top">
    <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">导航菜单</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="/views/index.html">导航菜单</a> </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li  class='active' ><a href="/views/index.html">网站首页</a> </li>
        <li class='dropdown '> <a href="/views/a/gongsijianjie/index.html">关于远大</a> <a href="/views/a/gongsijianjie/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" class="dropdown-menu nav_small">
            
            
            <li><a href="/views/about/index.html">公司简介</a></li>
            
            <li><a href="/views/honor/index.html">远大牌照</a></li>
            
            <li><a href="/views/a/gongsijianjie/contact/index.html">联系远大</a></li>
            
          </ul>
        </li><li class='dropdown '> <a href="/views/a/chanpinzhongxin/index.html">产品中心</a> <a href="/views/a/chanpinzhongxin/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" style="display:none">
            
            
          </ul>
        </li>
        <li class='dropdown '> <a href="/views/openUser/index.html">在线开户</a>
        </li>
        <li class='dropdown '> <a href="/views/a/kehuanli/">招商加盟</a> <a href="/views/a/kehuanli/" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" class="dropdown-menu nav_small">
            
            
            <li><a href="/views/a/zuixinanli/index.html">加盟政策</a></li>
            
            <li><a href="/views/a/jingdiananli/">加盟优势</a></li>
            
            <li><a href="/views/a/kehuanli/qiyejiameng/">公司加盟</a></li>
            
            <li><a href="/views/a/kehuanli/geren_touzizhejiameng/">个人/投资者加盟</a></li>
            
          </ul>
        </li>
        <li class='dropdown '> <a href="/views/disclaimer/index.html">免责声明</a> <a href="/views/disclaimer/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" style="display:none">
            
            
          </ul>
        </li><li class='dropdown '> <a href="/views/a/lianxiwomen/index.html">联系我们</a> <a href="/views/a/lianxiwomen/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" style="display:none">
            
            
          </ul>
        </li>
      </ul>
      
      <!--/.nav-collapse --> 
    </div>
  </nav>
 </header>
<div class="page_bg" style="background: url(/static/images/5780c309432c5.jpg) center top no-repeat;"></div>

<!-- main -->
<div class="container">
  <div class="row"> 
    
    <!-- left -->
    <div class="col-xs-12 col-sm-8 col-md-9" style="float:left">
      <div class="list_box">
        <h2 class="left_h2">行业新闻</h2>
        <div class="contents" style="font-size:14px;">
          <h1 class="contents_title">伦交所推出“环球板” 将支持80只美股、中概股交易</h1>
          <p style="line-height:200%;text-align:center;">来源：远大国际期货有限公司 作者：远大期货</p>
          <div>
            　　　<strong>远大期货</strong>官网消息&mdash;&mdash;9月6日讯 日前，伦敦证券交易所（LSE，以下简称“伦交所”）宣布将在四季度正式推出环球板（GES, Global Equity Segment）。这一新的板块试图为投资者提供非伦交所上市股票的交易渠道。目前，在官方网站上已经可以看到80只美国上市的股票或存托凭证，其中包括阿里巴巴、京东、新浪、微博等30只中国概念股。

            　　伦交所公布的信息显示，环球板是其最近期的创新产品。投资者可在伦敦市场时间交易环球市场的股票，初期包括美国蓝筹股及来自亚洲的美国存托凭证。
          </div>
          <div>
              在交易制度安排上，环球板投资者交易的是名为“CREST Depositary Interest”（CDI）的投资工具，实现在伦敦方便快捷、简单有效、而且便宜地交易及结算环球股票。投资者能于同一天在伦敦买入股票，并在纽约卖出，而两宗交易均会在各自市场的T+2循环内结算。
          </div>
          <div>
              伦交所认为，环球板存在以下优势或便利：在全世界最国际化的交易所交易环球股票；在方便投资者的时区交易；以美金交易；不设印花税。
          </div>
          <div>
              伦敦市场的交易时段处于亚洲及美国市场之间。英国夏令时8:00/北京时间15:00，沪深股市收市，此时英国开市；英国夏令时9:00/北京时间16:00，香港收市，此时伦敦市场仍开放；英国夏令时14:30/北京时间21:30，美国开市，两小时之后，即英国夏令时16:30/北京时间23:30，英国收市。
          </div>
          <div>
              因此，以美国夏令时为例，伦交所环球板的交易时间，可一定程度满足美国股市收市后（北京时间4:00）至次日开市前（北京时间21:30）这个时间段的交易需求。由于美国两大证券交易所均有延长交易（Extended Hours Trading），其中盘后交易时段（after hours）为北京时间4:00—8:00，下一交易日的盘前交易时段（pre-market hours）为16:00—21:30，因此，环球板主要将弥补北京时间8:00—16:00之间这8个小时的空白。
          </div>
          <div>
              通常，美股的盘前、盘后交易流动性不强，买卖价差相对正常交易时段要高得多。伦交所首批选取的前述80只美股均为交投活跃的标的。实际上，美国一些大型券商也已瞄准类似机会，如个别扣券商已提供少量活跃美股ETF的“全天候交易”。
          </div>
          <div>
              <strong>
                  环球板的美国蓝筹股： </strong>
                  <div>　亚马逊</div>
                  
                  　<div>苹果</div>
                  
                　　<div>可口可乐</div>
            
                　　<div>贝宝</div>
        
                　　<div>埃克森美孚</div>
    
                  　<div>　辉瑞</div>
      
                　　<div>Alphabet</div>

                　　<div>通用汽车</div>

                　　<div>强生</div>

                　　<div>雪佛龙</div>
                    <strong>
                        环球板的中概股：： 
                      
                    </strong>
                    <div>　前程无忧
                      </div>
              
                  　<div>58同城</div>
                  
                　　<div>百度</div>
            
                　　<div>宝尊电商</div>
        
                　　<div>哔哩哔哩</div>
    
                　 <div>中国人寿保险</div>

                　　<div>中国移动</div>

                　　<div>中国海洋石油</div>

                　　<div>携程</div>

                　　<div>富途</div>
                
                　　<div>　　华住酒店</div>
            
                　　<div>　　爱奇艺</div>
        
                　　<div>　　京东</div>
    
                　 <div>　　陌陌</div>

                　　<div>　　新濠博亚娱乐</div>

                　　<div>　　网易</div>

                　　<div>　　新东方教育科技</div>

                　　<div>　　中国石油天然气</div>
　　
                <div>　　拼多多</div>

          </div>
          <div>
              以下是伦交所方面就“环球板”推出而发表的官方评论：

              　　伦敦证券交易所：面向国际、放眼世界
              
              　　Scott Bradley—伦敦证券交易所二级市场业务发展及市场推广部总监
          </div>
           <div>
              透过沪伦通及快将推出的环球板，伦交所进一步巩固其国际地位，成为世界上最国际化的证券交易所。伦交所一早意识到其独一无二的时区位置对投资者和交易员的重要，因此我们一直与市场紧密交流并推出多项产品，让客户能轻易藉我们的交易平台来接触环球资金池。伦交所亦一向能吸引及满足市场对环球产品的需求，例如富时100公司逾七成收益来自英国以外的商业活动，而37%在伦敦上市的公司为英国以外的国际公司。
          </div>
          <div>
              国际订单簿（International Order Book）为伦交所专用于交易全球存托凭证的服务，以美元为交易货币并以T+2交收制。它是伦交所主板一部份，列有来自逾三十个国家的一百三十多家公司，为对新兴市场富兴趣的投资者提供位处集中于同一时区、同一市场而成本效益高、安全且透明的投资渠道。

            </div>
            <div>
                　国际订单簿亦是世界上最大规模的全球存托凭证市场，与27个市场时区重叠。其交易以俄罗斯的全球存托凭证为主，事实上伦敦是莫斯科以外最大型的俄罗斯证券二级市场交易平台。我们亦留意到投资者对其他新兴市场的关注，例如在2019年上半年，印度证券的交易金额比2018年同期比较上升7%。此外，来自南韩的三星一直是伦交所成交金额最多的亚洲股票，佔国际订单簿每天平均三亿英镑交易额的9%。
              </div>
              <div>
                  2019年6月，我们与上海证券交易所一起推出沪伦通。中英两国政府及监管机构非常支持沪伦通——中英两国首个以全球存托凭证连接的机制：外资企业首次获准在中国内地挂牌上市，而通过可与中国股份互换的工具，上交所上市公司亦可实现境外融资，另外大中华区以外的国际投资者首次能通过质易和结算安排进入中国A股市场。 
              </div>
              <div>
                  沪伦通的全球存托凭证在国际订单簿特设的上海板交易，沿用美元作交易货币及T+2交收制，并无提前出资和交付前融资的求。华泰证券为沪伦通首家来自中国的发行人，自六月中上市以来的交易非常活跃，平均而言它是伦交所成交金额排名第二的亚洲股票，我们亦期待其他发行人陆续透过沪伦通来到伦敦上市。
                </div>
                <div>
                    为了回应亚洲个人投资客及我们会员的需求，伦交所将在年底前推出新产品“环球板”。我们挑选了五十家美国公司及三十家中国公司的美国存托凭证，以“引入交易”的方式在伦交所的平台（XLOM）及一贯的市场时间裡交易。环球板除了善用伦敦有利的时区位置、为环球投资者提供机会减低时区风险的机会外，亦让我们的会员能进一步运用他们专业的做市知识，对市场消息作出实时反应。
                  </div>
                  <div>
                      环球板利用英美两国本已连接起来的中央证券登记公司（Euroclear UK & Ireland和Depository Trust & Clearing Corporation）来方便清算和结算程序，投资者交易的是一个名为CREST Depositary Interest（CDI）的投资工具——它只代表在另一中央证券登记公司的标的股票，并和标的股票享用同一国际证券识别编码。
                    </div>
                    <div>
                        在这安排下，投资者买卖环球股票就如买卖英国股票一样简单、直接、方便，而且能轻而易举地用美金在T+2交收制下进行跨境交易。举例说，投资者能在同一天于伦敦买并在于纽约卖合资格的股票，而两项交易都能在T+2结算。
                    </div>
                    <div>
                        实际操作方面，会员可用现有的连接安排投资环球板股票。环球板亦沿用伦交所一贯的‘开放获取’政策，会员可自行选择清算公司。

                        　　环球板是伦交所与时并进、创新破旧的新例，我们积极回应客户的需求，并为不断拓展的环球网络作出安排，务求让投资者在我们的平台上得到最国际化的体验。
                      </div>
                      <div>
                          自2018年10月起，伦交所集团推出亚洲实时数据推广计划，豁免亚洲个人投资客十二个月查看我们实时数据的费用。透过这计划，我们首次与亚洲的券商、数据商携手推广在伦敦上市的公司，进一步鼓励用户善用欧洲时区连接美国及亚洲市场的优势。

                          　　自计划推出以来，订阅伦交所市场数据的用户数字大幅上升900%。在2019年上半年，我们亦与逾十家亚洲公司签订交易及市场推广的合作协议。亚洲用户热烈的反应亦证明当地市场对多元化投资组合的兴趣和需求，而伦交所正好为他们提供在同一平台上交易环球股票的方便。
                        </div>
                        <div>
                            伦交所的交易所交易产品一向着重投资者对多元化投资组合的需求。超过30名发行人在伦交所发行超过1,700项交易所交易产品，并有23名登记的做市商为相关产品提供无间断的价格和充足的资金池。

                            　　交易所交易产品能以六种不同货币交易，包括美金、欧元、瑞郎、港元及人民币，而且所涵盖的市场甚广，包括约300项产品追踪美国股票、25项产品追踪中国股票，为客户带来极大便利，亦再次证明伦交所为投资客提供充足的环球交易机会。此外，伦交所交易所交易基金的交易获豁免印花税，而投资爱尔兰注册、追踪美国股票的交易所交易基金亦无须付预扣税，方便投资客放眼世界。
                            
                            　　当金融市场日渐国际化，伦交所一直与时并进，推出沪伦通以至即将启用的环球板，为客户提供最全面的投资机会，与客户一起面向国际、放眼世界。
                          </div>
          <div>
          <p style="text-align:right;"><br><br>————远大国际期货有限公司<br /><br></p>
        </div>
      </div>
      <div class="list_related">
        <h2 class="left_h2">相关新闻</h2>
        <ul class="list_news related_news">
            <li><a href="/views/a/xingyexinwen/880.html" title="达里奥:美国经济在今明两年陷入衰退的概率约为25%！">达里奥:美国经济在今明两年陷入衰退的概率约为25%！</a><span class="news_time">2019-9-6</span></li>   
            <li><a href="/views/a/xingyexinwen/879.html" title="千五岌岌可危还是多头翻身大仗？今夜非农定生死">千五岌岌可危还是多头翻身大仗？今夜非农定生死</a><span class="news_time">2019-9-6</span></li>   
            <li><a href="/views/a/xingyexinwen/878.html" title="伦交所推出“环球板” 将支持80只美股、中概股交易">伦交所推出“环球板” 将支持80只美股、中概股交易</a><span class="news_time">2019-9-6</span></li>   
            <li><a href="/views/a/xingyexinwen/877.html" title="美国宣布制裁一个与伊朗石油运输相关的航运网络">美国宣布制裁一个与伊朗石油运输相关的航运网络</a><span class="news_time">2019-9-5</span></li>   
            <li><a href="/views/a/xingyexinwen/876.html" title="美联储不敢私吞中国存美国的黄金，中国获得足够多黄金将发生什么">美联储不敢私吞中国存美国的黄金，中国获得足够多黄金将发生什么</a><span class="news_time">2019-9-5</span></li>   
            <li><a href="/views/a/xingyexinwen/875.html" title="汇金又出手:增持3大产品近30亿 多家保险巨头豪买ETF">汇金又出手:增持3大产品近30亿 多家保险巨头豪买ETF</a><span class="news_time">2019-9-5</span></li>   
            <li><a href="/views/a/xingyexinwen/874.html" title="中国进口396万吨水果！东南亚多国加大对华出口，越南却例外？">中国进口396万吨水果！东南亚多国加大对华出口，越南却例外？</a><span class="news_time">2019-9-1</span></li>   
            <li><a href="/views/a/xingyexinwen/873.html" title="美国80%天然气无法出口，日本却从中国进口70560吨，意味着什么？">美国80%天然气无法出口，日本却从中国进口70560吨，意味着什么？</a><span class="news_time">2019-8-30</span></li>
            
        </ul>
      </div>
    </div>
    
    <!-- right -->
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="left_nav" id="categories">
        <h2 class="left_h2">资讯中心</h2>
        <ul class="left_nav_ul" id="firstpane">
          
          <li> <a class="biglink" href="/a/xingyexinwen/">行业新闻</a><span class="menu_head"></span> </li>
          
          <li> <a class="biglink" href="/a/kejichuangxin/">财经新闻</a><span class="menu_head"></span> </li>
          
        </ul>
      </div>
      <div class="index_contact"> <h2 class="left_h2">联系我们</h2>
        <!-- <p>电 话：176-2101-1966</p> -->
        <p>公 司：远大国际期货有限公司</p>
        <p>地 址：香港上环德辅道中244-248 号东协商业大厦5楼502室</p>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="copyright">
    <p>Copyright &copy; 2002-2027  远大国际期货有限公司 版权所有</p>
    <p class="copyright_p">地址：香港上环德辅道中244-248 号东协商业大厦5楼502室  </p>

    <!-- <p class="copyright_p">地址：香港上环德辅道中244-248 号东协商业大厦5楼502室  电话：176-2101-1966 </p> -->
    <p style="color:#1f1f1f;">远大期货,远大期货开户,远大期货招商,香港远大外盘期货,香港远大国际期货官网,远大国际期货有限公司</p>
  </div>
</footer>
<!-- WPA start -->
<div style="position:fixed;top:30%;right:5px;z-index: 100">
  <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=744620679&site=qq&menu=yes">
  <img src="/static/images/qqworker.jpg" alt="点击这里给我发消息" title="点击这里给我发消息"/>
</div>
<!-- //中间客服窗口 -->
<div class="wpa-invite theme-2">
  <a href="javascript:void(0);" id="invite_close" data-event="close" class="icon-close">
    <img src="https://bqq.gtimg.com/qidian/src/wpa/dist/4.1.0/images/invite/close_black.png">
  </a>
  <img src="https://p.qpic.cn/qidian_pic/2852199000/201611113d2b411028d4194b97d37ac1349faad3/0" class="avatar" onerror="javascript:parent.__WPA.replaceErrAvatar(this);">
  <div class="main">
    <div class="title">欢迎您来到本网站</div>
    <div class="content">您好，客服在线，点击即可咨询</div>
  </div>
  <div class="btns ">
    <div class="btn" id="qqbtn" data-event="qq" data-corpuin="0">
    <a target="_blank" style="text-decoration:none" href="http://wpa.qq.com/msgrd?v=3&uin=744620679&site=qq&menu=yes">
      <span class="btn-icon icon-qq"></span>
      <span class="btn-text">QQ交谈</span>
    </a>
    
  </div>
</div>
</div><!-- WPA end -->
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
<script>(function(){
var src = (document.location.protocol == "http:") ? "http://js.passport.qihucdn.com/11.0.1.js?0e6890f61c1948e04d32c6176d4a646a":"https://jspassport.ssl.qhimg.com/11.0.1.js?0e6890f61c1948e04d32c6176d4a646a";
document.write('<script src="' + src + '" id="sozz"><\/script>');
})();
</script> 
<!--客服面板-->
</body>
</html>