<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>世界最大原油工厂遭袭！沙特的能源变局远不止于此</title>
<meta name="keywords" content="原油，沙特，能源，水果，出口" />
<meta name="description" content="远大期货 官网消息 达里奥:美国经济在今明两年陷入衰退的概率约为25%！" />
<meta name="applicable-device"content="pc,mobile">
<link href="/static/css/bootstrap.css" rel="stylesheet">
<link href="/static/css/bxslider.css" rel="stylesheet">
<link href="/static/css/style.css" rel="stylesheet">
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bxslider.min.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/js/bootstrap.js"></script>
<!--[if lt IE 9]>
	  <script src="/static/js/html5shiv.min.js"></script>
	  <script src="/static/js/respond.min.js"></script>
	<![endif]-->
<body>
<header> <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-md-9"> <a href="/"><img src="/static/images/logo.png" class="logo" alt="远大期货" title="远大期货"/></a> </div>
    <div class="col-xs-12 col-sm-3 col-md-3 tel_box">
      <!-- <div class="top_tel"><img src="/static/images/tel.jpg" alt="远大期货_远大国际期货有限公司"></div>
      <div class="top_number"> <span>全国客服热线：</span>
        <p>176-2101-1966</p>
      </div> -->
    </div>
  </div>
</div>

<!-- Fixed navbar -->
<nav id="top_nav" class="navbar navbar-default navbar-static-top">
    <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">导航菜单</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="/views/index.html">导航菜单</a> </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li  class='active' ><a href="/views/index.html">网站首页</a> </li>
        <li class='dropdown '> <a href="/views/a/gongsijianjie/index.html">关于远大</a> <a href="/views/a/gongsijianjie/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" class="dropdown-menu nav_small">
            
            
            <li><a href="/views/about/index.html">公司简介</a></li>
            
            <li><a href="/views/honor/index.html">远大牌照</a></li>
            
            <li><a href="/views/a/gongsijianjie/contact/index.html">联系远大</a></li>
            
          </ul>
        </li><li class='dropdown '> <a href="/views/a/chanpinzhongxin/index.html">产品中心</a> <a href="/views/a/chanpinzhongxin/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" style="display:none">
            
            
          </ul>
        </li>
        <li class='dropdown '> <a href="/views/openUser/index.html">在线开户</a>
        </li>
        <li class='dropdown '> <a href="/views/a/kehuanli/">招商加盟</a> <a href="/views/a/kehuanli/" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" class="dropdown-menu nav_small">
            
            
            <li><a href="/views/a/zuixinanli/index.html">加盟政策</a></li>
            
            <li><a href="/views/a/jingdiananli/">加盟优势</a></li>
            
            <li><a href="/views/a/kehuanli/qiyejiameng/">公司加盟</a></li>
            
            <li><a href="/views/a/kehuanli/geren_touzizhejiameng/">个人/投资者加盟</a></li>
            
          </ul>
        </li>
        <li class='dropdown '> <a href="/views/disclaimer/index.html">免责声明</a> <a href="/views/disclaimer/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" style="display:none">
            
            
          </ul>
        </li><li class='dropdown '> <a href="/views/a/lianxiwomen/index.html">联系我们</a> <a href="/views/a/lianxiwomen/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" style="display:none">
            
            
          </ul>
        </li>
      </ul>
      
      <!--/.nav-collapse --> 
    </div>
  </nav>
 </header>
<div class="page_bg" style="background: url(/static/images/5780c309432c5.jpg) center top no-repeat;"></div>

<!-- main -->
<div class="container">
  <div class="row"> 
    
    <!-- left -->
    <div class="col-xs-12 col-sm-8 col-md-9" style="float:left">
      <div class="list_box">
        <h2 class="left_h2">行业新闻</h2>
        <div class="contents" style="font-size:14px;">
          <h1 class="contents_title">世界最大原油工厂遭袭！沙特的能源变局远不止于此</h1>
          <p style="line-height:200%;text-align:center;">来源：远大国际期货有限公司 作者：远大期货</p>
          <div>
            　　　<strong>远大期货</strong>官网消息&mdash;&mdash;
            <div>
                当地时间9月14日，全球最大石油企业——沙特阿美两处石油设施受到无人机攻击，引发巨大爆炸和火灾。沙特宣称这次袭击使该国石油产量减少一半，这意味着将影响近570万桶原油日产量，约占世界每日石油产量的5%。
              </div>
              <strong>
                  减少部分将通过现有的石油储备补偿客户
              </strong>
                <div>
                    　阿美石油是全球最大石油公司，原油和天然气探明储量分别达到2602亿桶和8.5万亿立方米，年产量占据全球10%。
                  </div>
                  <div>
                    　　沙特内政部14日发表声明证实，当天凌晨，有数架无人机袭击了阿美石油公司的两处石油设施并引发火灾，袭击分别发生在沙特东部城市达曼附近的 布盖格工厂（Abqaiq）以及 胡赖斯油田（Khurais）。布盖格石油加工厂是世界上最大的原油净化工厂，被称为沙特“能源系统的航空母舰”。胡赖斯油田是沙特第二大油田，每天的产量约占全球1%。
                  </div>
                  <div>   
                    　　沙特阿拉伯能源大臣阿卜杜勒-阿齐兹·本·萨勒曼15日表示，阿美石油公司的工业安全团队已经控制住火情。石油产量减少部分将通过沙特现有的石油储备来补偿给客户。
            </div>
            <strong>油价开盘飙升超19%</strong>
            <div>
                沙特阿美公司目前还没有给出恢复输出的时间表，但有知情人士透露，恢复全油产能可能需要“数周而不是数天”。
              </div>
              <div>
                　　受沙特阿美遇袭事件影响，布伦特原油开盘大涨19%，至每桶71.95美元，创下1991年以来的最大日内涨幅。美国原油期货大涨逾15%至每桶63.34美元。本次沙特石油供应中断是有史以来最严重的一次，超过了1990年8月科威特和伊拉克石油供应中断以及1979年伊斯兰革命期间伊朗石油产量造成的损失。
              </div>
              <div>   
                　　国家统计局新闻发言人付凌晖今日（16日）在国新办新闻发布会上说，关于沙特油田的有关情况，今年以来国际经济增长动能在减弱，从8月份情况来看，主要大宗商品价格是环比下降的，当月国际能源价格环比下降6%左右，OPEC一揽子原油价格环比也是在下降。“沙特的情况对于全球能源市场会产生什么影响，我觉得还需要观察。”
              </div>
              <strong>沙特能源部换帅引市场担忧</strong>
              <div>
                  沙特能源形势可谓“内有外患”。沙特能源界举足轻重的人物——原能源大臣法利赫，日前经历了戏剧化的身份转变，引发市场担忧。
                </div>
                <div> 
                  　　沙特国王萨勒曼先是于8月底宣布分拆能源、工业和矿产资源部，能源大臣法利赫被间接“削权”；接着，法利赫又被摘掉了国有石油巨头沙特阿美董事长的头衔；最终，法利赫连部长级职位也未能保住，分拆后的能源部部长一职落在了沙特王储穆罕穆德的异母兄长阿齐兹亲王头上。此举打破了沙特的一贯传统，首次由王室成员担任政府高级官员。
              </div>
              <div> 
                  一直以来，考虑到石油工业对经济的重要性以及王室的绝对控制权，沙特始终将最重要的职务——能源部长和王权分离开来。在执政的沙特王室看来，王室成员执掌重要的能源部门，可能会影响王权进而导致执政风险。1960年以来，沙特共有5位石油部长，没有一位是王室成员。因此，能源部长一直被视为沙特政府中最稳定的职位之一，毕竟沙特作为全球最大石油出口国和生产国，不会轻易调整政策决策人以免引起石油市场波动，法利赫的前任纳伊米在这一职位上工作长达21年。
                </div>
                <div> 
                  　　路透社撰文称，法利赫自2016年被任命为能源部长以来，一直是沙特石油政策的代言人，随着他被解职，沙特石油政策可能发生变化的预期，让行业和市场尤为紧张。但一位不具名的俄罗斯官员透露，沙特能源部门人事变动应该不会对减产计划带来影响。
                </div>
                <div>   
                  　　咨询公司石油矩阵分析师Olivier Jakob表示，沙特能源部“换将”之举多少为市场带来了“新的不确定性”，表明沙特现行石油政策在某种程度上让沙特王室并不“十分满意”。 
              </div>
            </div>
          <p style="text-align:right;"><br><br>————远大国际期货有限公司<br /><br></p>
        </div>
      </div>
    
    <!-- right -->
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="left_nav" id="categories">
        <h2 class="left_h2">资讯中心</h2>
        <ul class="left_nav_ul" id="firstpane">
          
          <li> <a class="biglink" href="/a/xingyexinwen/">行业新闻</a><span class="menu_head"></span> </li>
          
          <li> <a class="biglink" href="/a/kejichuangxin/">财经新闻</a><span class="menu_head"></span> </li>
          
        </ul>
      </div>
      <div class="index_contact"> <h2 class="left_h2">联系我们</h2>
        <!-- <p>电 话：176-2101-1966</p> -->
        <p>公 司：远大国际期货有限公司</p>
        <p>地 址：香港上环德辅道中244-248 号东协商业大厦5楼502室</p>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="copyright">
    <p>Copyright &copy; 2002-2027  远大国际期货有限公司 版权所有</p>
    <p class="copyright_p">地址：香港上环德辅道中244-248 号东协商业大厦5楼502室  </p>

    <!-- <p class="copyright_p">地址：香港上环德辅道中244-248 号东协商业大厦5楼502室  电话：176-2101-1966 </p> -->
    <p style="color:#1f1f1f;">远大期货,远大期货开户,远大期货招商,香港远大外盘期货,香港远大国际期货官网,远大国际期货有限公司</p>
  </div>
</footer>
<!-- WPA start -->
<div style="position:fixed;top:30%;right:5px;z-index: 100">
  <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=744620679&site=qq&menu=yes">
  <img src="/static/images/qqworker.jpg" alt="点击这里给我发消息" title="点击这里给我发消息"/>
</div>
<!-- //中间客服窗口 -->
<div class="wpa-invite theme-2">
  <a href="javascript:void(0);" id="invite_close" data-event="close" class="icon-close">
    <img src="https://bqq.gtimg.com/qidian/src/wpa/dist/4.1.0/images/invite/close_black.png">
  </a>
  <img src="https://p.qpic.cn/qidian_pic/2852199000/201611113d2b411028d4194b97d37ac1349faad3/0" class="avatar" onerror="javascript:parent.__WPA.replaceErrAvatar(this);">
  <div class="main">
    <div class="title">欢迎您来到本网站</div>
    <div class="content">您好，客服在线，点击即可咨询</div>
  </div>
  <div class="btns ">
    <div class="btn" id="qqbtn" data-event="qq" data-corpuin="0">
    <a target="_blank" style="text-decoration:none" href="http://wpa.qq.com/msgrd?v=3&uin=744620679&site=qq&menu=yes">
      <span class="btn-icon icon-qq"></span>
      <span class="btn-text">QQ交谈</span>
    </a>
    
  </div>
</div>
</div><!-- WPA end -->
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
<script>(function(){
var src = (document.location.protocol == "http:") ? "http://js.passport.qihucdn.com/11.0.1.js?0e6890f61c1948e04d32c6176d4a646a":"https://jspassport.ssl.qhimg.com/11.0.1.js?0e6890f61c1948e04d32c6176d4a646a";
document.write('<script src="' + src + '" id="sozz"><\/script>');
})();
</script> 
<!--客服面板-->
</body>
</html>