<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>兴业投资:需求前景黯淡 油价压力重重</title>
<meta name="keywords" content="中国，进口，东南亚，水果，出口" />
<meta name="description" content="远大期货 官网消息 兴业投资:需求前景黯淡 油价压力重重" />
<meta name="applicable-device"content="pc,mobile">
<link href="/static/css/bootstrap.css" rel="stylesheet">
<link href="/static/css/bxslider.css" rel="stylesheet">
<link href="/static/css/style.css" rel="stylesheet">
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bxslider.min.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/js/bootstrap.js"></script>
<!--[if lt IE 9]>
	  <script src="/static/js/html5shiv.min.js"></script>
	  <script src="/static/js/respond.min.js"></script>
	<![endif]-->
<body>
<header> <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-md-9"> <a href="/"><img src="/static/images/logo.png" class="logo" alt="远大期货" title="远大期货"/></a> </div>
    <div class="col-xs-12 col-sm-3 col-md-3 tel_box">
      <!-- <div class="top_tel"><img src="/static/images/tel.jpg" alt="远大期货_远大国际期货有限公司"></div>
      <div class="top_number"> <span>全国客服热线：</span>
        <p>176-2101-1966</p>
      </div> -->
    </div>
  </div>
</div>

<!-- Fixed navbar -->
<nav id="top_nav" class="navbar navbar-default navbar-static-top">
    <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">导航菜单</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="/views/index.html">导航菜单</a> </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li  class='active' ><a href="/views/index.html">网站首页</a> </li>
        <li class='dropdown '> <a href="/views/a/gongsijianjie/index.html">关于远大</a> <a href="/views/a/gongsijianjie/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" class="dropdown-menu nav_small">
            
            
            <li><a href="/views/about/index.html">公司简介</a></li>
            
            <li><a href="/views/honor/index.html">远大牌照</a></li>
            
            <li><a href="/views/a/gongsijianjie/contact/index.html">联系远大</a></li>
            
          </ul>
        </li><li class='dropdown '> <a href="/views/a/chanpinzhongxin/index.html">产品中心</a> <a href="/views/a/chanpinzhongxin/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" style="display:none">
            
            
          </ul>
        </li>
        <li class='dropdown '> <a href="/views/openUser/index.html">在线开户</a>
        </li>
        <li class='dropdown '> <a href="/views/a/kehuanli/">招商加盟</a> <a href="/views/a/kehuanli/" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" class="dropdown-menu nav_small">
            
            
            <li><a href="/views/a/zuixinanli/index.html">加盟政策</a></li>
            
            <li><a href="/views/a/jingdiananli/">加盟优势</a></li>
            
            <li><a href="/views/a/kehuanli/qiyejiameng/">公司加盟</a></li>
            
            <li><a href="/views/a/kehuanli/geren_touzizhejiameng/">个人/投资者加盟</a></li>
            
          </ul>
        </li>
        <li class='dropdown '> <a href="/views/disclaimer/index.html">免责声明</a> <a href="/views/disclaimer/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" style="display:none">
            
            
          </ul>
        </li><li class='dropdown '> <a href="/views/a/lianxiwomen/index.html">联系我们</a> <a href="/views/a/lianxiwomen/index.html" id="app_menudown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-menu-down btn-xs"></span> </a>
          <ul role="menu" style="display:none">
            
            
          </ul>
        </li>
      </ul>
      
      <!--/.nav-collapse --> 
    </div>
  </nav>
 </header>
<div class="page_bg" style="background: url(/static/images/5780c309432c5.jpg) center top no-repeat;"></div>

<!-- main -->
<div class="container">
  <div class="row"> 
    
    <!-- left -->
    <div class="col-xs-12 col-sm-8 col-md-9" style="float:left">
      <div class="list_box">
        <h2 class="left_h2">行业新闻</h2>
        <div class="contents" style="font-size:14px;">
          <h1 class="contents_title">兴业投资:需求前景黯淡 油价压力重重</h1>
          <p style="line-height:200%;text-align:center;">来源：远大国际期货有限公司 作者：远大期货</p>
          <div>
            　　　<strong>远大期货</strong>官网消息&mdash;&mdash;
            <div>
                虽风险偏好情绪高涨，以及美国原油库存大幅下降和石油钻井数减少，为油价提供一些支持，但全球经济增长放缓的担忧及其对原油需求产生不利影响，加之美国鹰派安全顾问博尔顿遭解雇缓解了地缘紧张情绪，令油价普遍承压。截至收盘，美国WTI 10月原油期货整周累计上涨7.92%，收报61.34美元/桶，当周最高触及63.26美元/桶，最低跌至53.99美元/桶。布伦特11月原油期货整周累计下跌2.07%，收报60.23美元/桶，当周最高触及63.73美元/桶，最低跌至58.90美元/桶。              </div>
                <div>
                    国际贸局势的改善，令市场风险偏好情绪升温，支持原油等风险资产。特朗普上周三发推文宣布将推迟加征中国商品税！他称，作为善意的表示，将加征2500亿美元高品税的决定推迟到10月15日。原先这批商品的税将从10月1日开始由25%提升至30%。中国商务部周四称，中方企业已开始就采购美国农产品进行询价，大豆、猪肉都在中方询价的范围之内。对美方释放的善意行动表示欢迎。中方谈底线无变化。
                  </div>
                  <div>
                    　　美国主要机构公布的上周原油库存大幅下降，同时美国石油钻井数继续减少。美国石油学会（API）周最新数据显示，截至9月6日当周，美国原油库存减少722.7万桶至4.219亿桶，预期减少260万桶；库欣库存减少135.9万桶；汽油库存减少446万桶，预期减少90万桶；精炼油库存增加61.8万桶，预期增加156.7万桶。
                  </div>
                  <div>    
                    　　美国能源信息署（EIA）最新数据显示，截至9月6日当周，美国原油库存减少691.2万桶至4.161亿桶，连续4周下滑，跌至2018年10月以来最低，市场预期减少248.8万桶；库欣原油库存减少79.8万桶，连续10周下滑；精炼油库存增加270.4万桶，创7月19日当周以来最大增幅，市场预期增加156.7万桶；汽油库存减少68.2万桶，市场预期减少90万桶；
                  </div>
                  <div>    
                    　　此外，上周美国国内原油产量持平于1240万桶/日。美国油服公司贝克休斯（Baker Hughes）最新数据显示，截至9月13日当周，美国石油活跃钻井数再减5座至733座，连续四周下滑，同时续刷2017年11月来新低；石油和天然气活跃钻井总数减少12座至886座；天然气活跃钻井数减少7座至153座。
                  </div>
                  <div>    
                    　　美国能源信息署（EIA）、石油输出国组织（OPEC）和国际能源署（IEA）在其最新的月度原油市场报告中，都对原油需求增长前景日益萎缩表示担忧。EIA在月报中，将2019年全球原油需求增速预期下调11万桶/日至89万桶/日，将2020年全球原油需求增速预期下调3万桶/日至140万桶/日。OPEC月报将2019年原油需求增速下调8万桶至102万桶/日；预计2019年全球原油需求为9984万桶/日，预计2020年全球原油需求为10092万桶/日。
                  </div>
                  <div>     
                    　　此外，由于经济放缓，OPEC将2020年全球石油需求增长预期下调6万桶/日至108万桶/日。IEA月报显示，经济合作暨发展组织（OECD）石油需求连续三个季度下降，为2014年以来首见，而对2019年和2020年石油需求增长预估分别维持在110万桶/日和130万桶/日不变。这是基于假设美国和中国之间的贸易谈判不会破裂，以及和伊朗之间的紧张局势有所缓和。预计对OPEC原油的需求2020年上半年将降至2，830万桶/日，比8月OPEC产量低出140万桶/日。
                  </div>
                  <div>    
                    　　OPEC在上周四的阿布扎比会议上没有讨论深化供应限制，但他们施压成员国，敦促履行减产承诺。此次会议达成了一项承诺，即各国将保持在它们在全球供应协议中承诺的产量配额之内。沙特新能源部长阿齐兹表示，沙特将继续削减超过其在该协议中承诺的减产幅度。该协议已将OPEC的石油日产量削减120万桶以上。由于竞争对手的供应增长，OPEC减产提振油价的任务面临着严峻的挑战。
                  </div>
                  <div>   
                    　　由于众多政策分歧，美国国家安全顾问博尔顿上周二应总统特朗普的要求辞职。特朗普称：“昨晚通知约翰•博尔顿，白宫不再需要他的服务了。我和他在政府中的其他人一样强烈反对他的许多建议。”一位美国政府高级官员称，过去的几个月里，博尔顿在对伊朗，包括如今对于阿富汗的声明和态度上，都令特朗普愈发“感到恼火”。特朗普已不再相信博尔顿会为总统说话，甚至认为他正在损害总统的信誉。
                  </div>
                  <div>   
                    　　此外，国家安全委员会高层之间的紧张关系已经演变成“全面的敌意”，而博尔顿所领导的国家安全委员会和其他政府部门的工作人员之间更是存在“严重脱节”。博尔顿离职导致投资者认为美国可能对伊朗政策软化。博尔顿率先采取了对伊朗的强硬政策，其中放弃伊核协议并对伊朗实施制裁。因此随着博尔顿被解雇，可能会缓解美伊的紧张关系并解除制裁，从而增加市场上的原油供应，油价因此受挫。
                  </div>
                  <div>   
                    　　展望本周，原油交易者除继续关注API和EIA原油库存数据外，还需留意的美国经济数据包括：8月工业产出；8月新屋开工及营建许可；每周申请失业金人数；第二季度经常帐；8月成屋销售。央行动态方面：美联储将公布9月联邦公开市场委员会（FOMC）会议决议，同时公布经济预测和点阵图。美联储主席鲍威尔将举行新闻发布会。FOMC会议将反映出政策放松方面仍存在分歧。HYCM兴业投资（英国）分析师预计，美联储（Fed）将把联邦基金利率下调25个基点，至2.00%，并对声明做出最小改动。由于有消息称，美国和中国之间可能达成部分贸易协议，且国内通胀加剧，9月份FOMC会议的市场定价最近变得不那么温和。
                  </div>
                  <div> 
                    　　我们认为，委员会对7月份的降息是否恰当以及近期可能的削减仍存在严重分歧，预计“点阵图”将继续反映这一点；我们预计经济前景不会有什么变化，预计政策的中间路线表明，在7月和9月放松政策之后，2019年第三次降息的可能性很小。
                    
                  </div>
                  <div>
                           我们预计会有两位鹰派成员投票反对。继预期的9月18日降息之后，我们继续预期今年12月再降息25个基点。如果鲍威尔在新闻发布会上使用“警惕”一词，这将是一个温和的信号，表明该委员会正在考虑在2019年至少再一次降息。此外，达拉斯联储主席卡普兰和波士顿联储主席罗森格伦将在不同场合发表讲话。另外，国际贸易局势发展也是投资者需要关注的重要风险。
                          </div>
                          <div>  
                    　　技术面上看，美油周图保利加通道趋平，油价大幅反弹测试上轨，14周均线上测20周均线，后者转为持平，慢步随机逼近超买区。美油上周大幅飙升，收长实体阳线，预计本周油价将继续震荡走高。支撑分别位于59.00、58.20、57.20，阻力依次是60.90、62.00、63.25。
                  </div>
                  <div> 
                    　　布油周图保利加通道收敛，油价反弹再次受制中轨，14周均线转为持平，20周均线下行势头放缓，慢步随机指标走高。布油上周强势上扬，收长下阴影阳线，表明下方买盘强劲，预计本周油价将继续震荡走高。支撑分别位于65.00、63.80、52.20，阻力依次是67.00、68.40、69.00。
            </div>
           
            </div>
          <p style="text-align:right;"><br><br>————远大国际期货有限公司<br /><br></p>
        </div>
      </div>
      <div class="list_related">
        <h2 class="left_h2">相关新闻</h2>
        <ul class="list_news related_news">
            <li><a href="/views/a/xingyexinwen/880.html" title="达里奥:美国经济在今明两年陷入衰退的概率约为25%！">达里奥:美国经济在今明两年陷入衰退的概率约为25%！</a><span class="news_time">2019-9-6</span></li>   
            <li><a href="/views/a/xingyexinwen/879.html" title="千五岌岌可危还是多头翻身大仗？今夜非农定生死">千五岌岌可危还是多头翻身大仗？今夜非农定生死</a><span class="news_time">2019-9-6</span></li>   
            <li><a href="/views/a/xingyexinwen/878.html" title="伦交所推出“环球板” 将支持80只美股、中概股交易">伦交所推出“环球板” 将支持80只美股、中概股交易</a><span class="news_time">2019-9-6</span></li>   
            <li><a href="/views/a/xingyexinwen/877.html" title="美国宣布制裁一个与伊朗石油运输相关的航运网络">美国宣布制裁一个与伊朗石油运输相关的航运网络</a><span class="news_time">2019-9-5</span></li>   
            <li><a href="/views/a/xingyexinwen/876.html" title="美联储不敢私吞中国存美国的黄金，中国获得足够多黄金将发生什么">美联储不敢私吞中国存美国的黄金，中国获得足够多黄金将发生什么</a><span class="news_time">2019-9-5</span></li>   
            <li><a href="/views/a/xingyexinwen/875.html" title="汇金又出手:增持3大产品近30亿 多家保险巨头豪买ETF">汇金又出手:增持3大产品近30亿 多家保险巨头豪买ETF</a><span class="news_time">2019-9-5</span></li>   
            <li><a href="/views/a/xingyexinwen/874.html" title="中国进口396万吨水果！东南亚多国加大对华出口，越南却例外？">中国进口396万吨水果！东南亚多国加大对华出口，越南却例外？</a><span class="news_time">2019-9-1</span></li>   
            <li><a href="/views/a/xingyexinwen/873.html" title="美国80%天然气无法出口，日本却从中国进口70560吨，意味着什么？">美国80%天然气无法出口，日本却从中国进口70560吨，意味着什么？</a><span class="news_time">2019-8-30</span></li>
       </ul>
      </div>
    </div>
    
    <!-- right -->
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="left_nav" id="categories">
        <h2 class="left_h2">资讯中心</h2>
        <ul class="left_nav_ul" id="firstpane">
          
          <li> <a class="biglink" href="/a/xingyexinwen/">行业新闻</a><span class="menu_head"></span> </li>
          
          <li> <a class="biglink" href="/a/kejichuangxin/">财经新闻</a><span class="menu_head"></span> </li>
          
        </ul>
      </div>
      <div class="index_contact"> <h2 class="left_h2">联系我们</h2>
        <!-- <p>电 话：176-2101-1966</p> -->
        <p>公 司：远大国际期货有限公司</p>
        <p>地 址：香港上环德辅道中244-248 号东协商业大厦5楼502室</p>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="copyright">
    <p>Copyright &copy; 2002-2027  远大国际期货有限公司 版权所有</p>
    <p class="copyright_p">地址：香港上环德辅道中244-248 号东协商业大厦5楼502室  </p>

    <!-- <p class="copyright_p">地址：香港上环德辅道中244-248 号东协商业大厦5楼502室  电话：176-2101-1966 </p> -->
    <p style="color:#1f1f1f;">远大期货,远大期货开户,远大期货招商,香港远大外盘期货,香港远大国际期货官网,远大国际期货有限公司</p>
  </div>
</footer>
<!-- WPA start -->
<div style="position:fixed;top:30%;right:5px;z-index: 100">
  <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=744620679&site=qq&menu=yes">
  <img src="/static/images/qqworker.jpg" alt="点击这里给我发消息" title="点击这里给我发消息"/>
</div>
<!-- //中间客服窗口 -->
<div class="wpa-invite theme-2">
  <a href="javascript:void(0);" id="invite_close" data-event="close" class="icon-close">
    <img src="https://bqq.gtimg.com/qidian/src/wpa/dist/4.1.0/images/invite/close_black.png">
  </a>
  <img src="https://p.qpic.cn/qidian_pic/2852199000/201611113d2b411028d4194b97d37ac1349faad3/0" class="avatar" onerror="javascript:parent.__WPA.replaceErrAvatar(this);">
  <div class="main">
    <div class="title">欢迎您来到本网站</div>
    <div class="content">您好，客服在线，点击即可咨询</div>
  </div>
  <div class="btns ">
    <div class="btn" id="qqbtn" data-event="qq" data-corpuin="0">
    <a target="_blank" style="text-decoration:none" href="http://wpa.qq.com/msgrd?v=3&uin=744620679&site=qq&menu=yes">
      <span class="btn-icon icon-qq"></span>
      <span class="btn-text">QQ交谈</span>
    </a>
    
  </div>
</div>
</div><!-- WPA end -->
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
<script>(function(){
var src = (document.location.protocol == "http:") ? "http://js.passport.qihucdn.com/11.0.1.js?0e6890f61c1948e04d32c6176d4a646a":"https://jspassport.ssl.qhimg.com/11.0.1.js?0e6890f61c1948e04d32c6176d4a646a";
document.write('<script src="' + src + '" id="sozz"><\/script>');
})();
</script> 
<!--客服面板-->
</body>
</html>